<a href="https://colab.research.google.com/github/k00dj-19/AlgorithmStudy_python/blob/master/baekjoon_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 열 개씩 끊어 출력하기 - 11721
s = input()
count = 0
for i in s:
  if count%10 == 0 and count != 0:
    print()
  print(i, end="")
  count += 1

OneTwoThreeFourFiveSixSevenEightNineTen
OneTwoThre
eFourFiveS
ixSevenEig
htNineTen

In [8]:
# 2007년 - 1924
mon = [31,28,31,30,31,30,31,31,30,31,30,31]
day = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
x,y = map(int,input().split())
count = 0
for i in range(1,x):
  count += mon[i-1]
count += y
print(day[count%7])

12 25
TUE

In [19]:
# 별 찍기(3) - 2440
for i in range(int(input()), 0, -1):
  print('*'*i)

5
*****
 ****
  ***
   **
    *

In [ ]:
# 별 찍기(4) - 2441
n = int(input())
for i in range(n, 0, -1):
  print(" "*(n-i) + "*"*i)

In [41]:
# 별 찍기(5) - 2442
n = int(input())
for i in range(1,n+1):
  print(" "*(n-i)+ "*"*(i*2-1))

5
    *
   ***
  *****
 *******
*********

In [43]:
# 별 찍기(8) - 2445
n = int(input())
for i in range(1,n*2):
  if i <=n:
    print("*"*i + " "*(n-i)*2 + "*"*i)
  else:
    print("*"*(2*n-i) + " "*(i-n)*2 + "*"*(2*n-i))

6
*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [48]:
# 별 찍기(9) - 2446
n = int(input())
for i in range(1,n*2):
  if i <= n:
    print(" "*(i-1) + "*"*((n-i+1)*2-1))
  else:
    print(" "*(2*n-i-1) + "*"*((i-n+1)*2-1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [45]:
# 별 찍기(12) - 2522
n = int(input())
for i in range(1,n*2):
  if i <= n:
    print(" "*(n-i) + "*"*i)
  else:
    print(" "*(i-n) + "*"*(2*n-i))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [51]:
# 별 찍기(16) - 10991
def star(x, N, arr):
  if x >= 1:
    s = " "*(N-x)
    for i in range(1,x*2):
      if i%2 == 1:
        s += "*"
      else :
        s += " "
    arr.append(s)
    star(x-1, N, arr)

n = int(input())
arr = []
star(n,n,arr)
for i in arr[::-1]:
  print(i)

5
    *
   * *
  * * *
 * * * *
* * * * *

In [64]:
# 별 찍기(17) - 10992
n = int(input())
print(" "*(n-1) + "*")
for i in range(2,n):
    print(" "*(n-i) + "*" + " "*((i-1)*2-1) + "*")
if n !=1 :
  print("*"*(2*n-1))

3
  *
 * *
*****