<a href="https://colab.research.google.com/github/k00dj-19/AlgorithmStudy_python/blob/master/baekjoon_stage10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

재귀

In [ ]:
#1 팩토리얼 - 10872
n = int(input())
def factorial(x):
  if x > 1:
    return factorial(x-1)*x
  elif x == 1 or x == 0:
    return 1
  
print(factorial(n))

0
1

In [ ]:
#2 피보나치 수 5 - 10870
def fibonacci(x):
  if x == 0 or x == 1: return x
  else :
    return fibonacci(x-1)+fibonacci(x-2)
n = int(input())
print(fibonacci(n))

10
55

In [ ]:
#3 별찍기 - 10 - 2447
# 모르겠다
import math
def star(x):
  if x == 3:
    s1 = "***"
    s2 = "* *"
    # print(s1)
    # print(s2)
    # print(s1)
    return
  else:
    s1

***
* *
******
* *
******
* *
***
***
* *
*** ***
* *
***
***
* *
******
* *
******
* *
***

In [ ]:
s = """***
* *
***"""

s2 = """{}{}{}
""".format(s,s,s)
print(s2)

***
* *
******
* *
******
* *
***

In [ ]:
#4 하노이 탑 이동 순서 - 11729
#답 봄..
# f(2) = 12,13,21 - 3
# f(3) = 13,12,32,13,21,23,13 - 7
# f(4) = 12,13,23,12,31,32,12,13, 23,21,31,23,12,13,23 - 15
# f(n) = f(n-1)*2 + 1
def hanoi(n,a,b,c):
  if n == 1:
    print(a,c)
  else:
    hanoi(n-1,a,c,b)
    print(a,c)
    hanoi(n-1,b,a,c)
n = int(input())
sum = 1
for i in range(n-1):
  sum = 2*sum + 1
print(sum)
hanoi(n,1,2,3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3