<a href="https://colab.research.google.com/github/k00dj-19/AlgorithmStudy_python/blob/master/baekjoon_stage8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 손익분기점
a, b, c = map(int, input().split())
print(-1 if b>=c else a//(c-b) + 1)

3 2 1
-1

In [ ]:
#2 벌집-2292
#1 #1
#2-7 6  -> 2
#8-19 12  ->3
#20-37 18  ->4
#38-61 24  ->5
n= 0
x = int(input())
for i in range(1, 1000000000+1):
  s = 1 + 3*i*(i-1)
  if s >= x : 
    n = i
    break
print(n)

62
6

In [ ]:
#3 분수찾기-1193
x = int(input())
n = 1
while True:
  s = n*(n+1)//2
  if x <= s : # 1 3 6 10 15
    break
  n += 1
if n%2 == 1 :
  print("{}/{}".format(s-x+1,n-s+x))
else :
  print("{}/{}".format(n-s+x,s-x+1))

3
2
2/1

In [ ]:
#4 달팽이는 올라가고 싶다 - 2869
a,b,v = map(int, input().split())
if a <= b: exit()
n = (v-b)//(a-b) 
if (v-b)%(a-b) != 0 : n+=1
print(n)
# (-b + a) * n + b > v
# n > (v-b) /(a-b)

100 99 1000000000
999999901

In [ ]:
#5 ACM 호텔 - 10250
t = int(input())
for i in range(t):
  h,w,n = map(int,input().split())
  # 층 = n%h , 호수 = n//h + 1
  if n > h*w or h < 1 or w > 99 or n < 1 : exit()
  stair = n%h
  num = n//h + 1
  if n%h == 0 : 
    stair = h
    num = n//h
  print(num + 100*(stair))

1
6 12 6
601

In [ ]:
#6 부녀회장이 될테야 - 2775
# 이차 배열 활용해서 풀이 
t = int(input())
for i in range(t):
  k = int(input())
  n = int(input())
  sum = 0
  array = [[0 for col in range(n+1)] for row in range(k+1)]
  for i in range(1,n+1):
    array[0][i] = i
  for a in range(1, k+1):
    for b in range(1,n+1):
      for c in range(1, b+1):
        array[a][b] += array[a-1][c]
  print(array[k][n])
  # for i in range(k+1):
  #   for j in range(n+1):
  #     print(array[i][j], end='  ')
  #   print("\n")

2
1
3
6
2
3
10

In [ ]:
#7 설탕 배달 - 2839
n = int(input())
a = 0
kg_5 = 0
kg_3 = 0
while 1:
  if n - 5*a < 0 :
     break
  if (n - 5*a)%3 == 0:
    kg_5 = a
    kg_3 = (n-5*a)//3
  a+=1
if kg_5 == 0 and kg_3 == 0 :
  print(-1)
else : 
  print(kg_5 + kg_3)

18
4

In [ ]:
#8 큰 수 A+B - 10757
a, b = map(int, input().split())
print(a+b)

9223372036854775807 9223372036854775808
18446744073709551615

In [ ]:
#9 Fly me to the Alpha Centauri - 1011
# 어려웠다... 직접 써보고 관계를 찾아서 풀었다.
t = int(input())
for i in range(t):
  x, y = map(int, input().split())
  goal = y-x
  count = 0
  for n in range(goal): 
    if n*n < goal <= n*(n+1):
      count = 2*n
      break
    elif n*(n+1) < goal <= (n+1)*(n+1):
      count = 2*n + 1
      break
    else : continue
  print(count)

    # count 는 최대 y-x개   
    # 1=1
    # 2=1,1
    # 3=1,1,1
    # 4=1,2,1
    # 5=1.2.1,1
    # 6=1,2,2,1
    # 7=1,2,1,2,1
    # 8=1,2,2,2,1
    # 9=1,2,3,2,1
    #10=1,1,2,3,2,1
    #11=1,2,2,3,2,1
    #12=1,2,3,3,2,1
    #13=1,1,2,3,3,2,1
    #14=1,2,2,3,3,2,1
    #15=1,2,3,3,3,2,1
    #16=1,2,3,4,3,2,1
    #17=1,1,2,3,4,3,2,1
    #18=1,2,2,3,4,3,2,1
    #19=1,2,3,3,4,3,2,1
    #20=1,2,3,4,4,3,2,1
    #21=1,1,2,3,4,4,3,2,1
    #22
    #23
    #24
    #25=1,2,3,4,5,4,3,2,1
    #26~30 : 
    #30=1,2,3,4,5,5,4,3,2,1
    # 숫자개수 : 1,2,3,4,5,6,7,8,9,10,11
    # 같은 개수  1,1,2,2,3,3,4,4,5, 5, 6
    #            1,2,4,6,9,12,16,20,25,30,36
    #  1 + 2 + 3 + 2 + 1 = 9
    #  1 + 2 + 3 + 4 + 3 + 2 + 1 = 16  
    #  1 + 2 +.. + n + n-1 + n-2 + ... +2 + 1 = n^2
    #  개수는 2*n - 1

3
0 3
3
1 5
3
45 50
4