<a href="https://colab.research.google.com/github/k00dj-19/AlgorithmStudy_python/blob/master/baekjoon_stage2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a, b = map(int, input().split())
if a > b : print(">")
elif a < b : print("<")
else : print("==")

5 5
==

In [ ]:
#2
score = int(input())
if score >= 90 and score <= 100 : print("A")
elif score >= 80 and score <= 89 : print("B")
elif score >= 70 and score <= 79 : print("C")
elif score >= 60 and score <= 69 : print("D")
else : print("F")

100
A

In [ ]:
#3
year = int(input())
if (year%4 == 0 and year%100 != 0) or year%400 == 0 : print(1)
else : print(0)

2000
1

In [ ]:
#4
x = int(input())
y = int(input())
if x>0 and y>0 : print(1)
elif x<0 and y>0 : print(2)
elif x<0 and y<0 : print(3)
else : print(4)

-1
23
2

In [ ]:
#5
h, m = map(int, input().split())
if m < 45 :
  if h == 0 :
    h = 23
  else : 
    h -= 1
  m += 15 
  print(h, m)
else :
  m -= 45
  print(h, m)

23 45
23 0